<a href="https://colab.research.google.com/github/fhayat1/deep-learning-challenge/blob/main/p1%26p2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Preprocessing

In [12]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf


#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [19]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
app_df_clean = application_df.drop(columns=['EIN', 'NAME'])
app_df_clean.head(2)

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1

In [20]:
# Determine the number of unique values in each column.
app_df_clean.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [21]:
# Look at APPLICATION_TYPE value counts for binning
app_counts = app_df_clean['APPLICATION_TYPE'].value_counts()
app_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [22]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(app_counts[app_counts < 500].index)

# Replace in dataframe
for app in application_types_to_replace:
    app_df_clean['APPLICATION_TYPE'] = app_df_clean['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
app_df_clean['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [23]:
# Look at CLASSIFICATION value counts for binning
class_counts = app_df_clean['CLASSIFICATION'].value_counts()
class_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [24]:
# You may find it helpful to look at CLASSIFICATION value counts >1
class_counts[class_counts > 1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [25]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(class_counts[class_counts < 1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    app_df_clean['CLASSIFICATION'] = app_df_clean['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
app_df_clean['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [26]:
# Convert categorical data to numeric with `pd.get_dummies`
app_df_clean = pd.get_dummies(app_df_clean)
app_df_clean.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [27]:
app_df_clean.head(1)

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [28]:
# Split our preprocessed data into our features and target arrays
x = app_df_clean.drop(columns=['IS_SUCCESSFUL']).values
y = app_df_clean['IS_SUCCESSFUL'].values

In [29]:
x[0]

array([   1, 5000,    0,    1,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    1,    0,    0,    0,    1,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    1,    1,    0,    0,    0,    1,
          0,    0,    0,    0,    0,    0,    0,    0,    1,    0])

In [30]:
y

array([1, 1, 0, ..., 0, 1, 0])

In [32]:
# split into training and testing data
x_train, x_test, y_train, y_test = train_test_split(x, y)

In [33]:
x_train[0]

array([    1, 64960,     0,     0,     0,     1,     0,     0,     0,
           0,     0,     0,     0,     1,     0,     0,     0,     0,
           0,     0,     0,     0,     1,     0,     0,     0,     1,
           0,     0,     0,     0,     1,     0,     0,     0,     1,
           0,     0,     0,     0,     0,     1,     0])

In [34]:
x_test[0]

array([   1, 5000,    0,    0,    0,    1,    0,    0,    0,    0,    0,
          0,    0,    1,    0,    0,    0,    1,    0,    0,    0,    0,
          0,    0,    0,    0,    1,    0,    0,    0,    0,    1,    1,
          0,    0,    0,    0,    0,    0,    0,    0,    1,    0])

In [35]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
x_scaler = scaler.fit(x_train)

# Scale the data
x_train_scaled = x_scaler.transform(x_train)
x_test_scaled = x_scaler.transform(x_test)
print(x_train_scaled[0])

[ 0.01079982 -0.03849362 -0.08962829 -0.12261214 -0.17881097  0.51871725
 -0.2202365  -0.188094   -0.19150156 -0.14822188 -0.14629295 -0.91726461
 -0.04413044  0.92353323 -0.03055899 -0.00881785 -0.02068331 -1.00537911
 -0.40793348 -0.46349629 -0.24009016 -0.24574368  3.7509616  -0.1064074
 -0.06553264 -0.01079982  0.47207632 -0.44719273 -0.65294539 -0.12063724
 -0.03473549  0.67726664 -1.57106608 -0.14601549 -0.12694995  3.02118504
 -0.08417892 -0.17029727 -0.34857816 -0.06401969 -0.07236312  0.02718742
 -0.02718742]

## Compile, Train and Evaluate the Model

In [36]:
# Define the model - deep neural net, i.e., the number of input features and 
# hidden nodes for each layer.
num_input_features = len(x_train[0])
layer_1_nodes = 80
layer_2_nodes = 30

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=layer_1_nodes, 
                          input_dim=num_input_features, 
                          activation='relu')
)

# Second hidden layer
nn.add(
    tf.keras.layers.Dense(units=layer_2_nodes, 
                          input_dim=layer_1_nodes, 
                          activation='relu')
)

# Output layer
nn.add(
    tf.keras.layers.Dense(units=1, 
                          input_dim=layer_2_nodes, 
                          activation='sigmoid')
)

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                3520

 dense_1 (Dense)             (None, 30)                2430

 dense_2 (Dense)             (None, 1)                 31

=================================================================
Total params: 5,981
Trainable params: 5,981
Non-trainable params: 0
_________________________________________________________________

In [37]:
# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [38]:
# Train the model
fit_model = nn.fit(x_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5725 - accuracy: 0.7205
Epoch 2/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5560 - accuracy: 0.7268
Epoch 3/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5529 - accuracy: 0.7296
Epoch 4/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5515 - accuracy: 0.7312
Epoch 5/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5499 - accuracy: 0.7313
Epoch 6/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5489 - accuracy: 0.7312
Epoch 7/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5482 - accuracy: 0.7317
Epoch 8/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5481 - accuracy: 0.7325
Epoch 9/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5471 - accuracy: 0.7323
Epoch 10/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5468 - accuracy: 0.7337
Epoch 11/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5460 - accuracy: 0.7348
Epoch 12/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5451 - accuracy: 0.7345
Epoch 13/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5452 - accuracy: 0.7332
Epoch 14/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5450 - accuracy: 0.7338
Epoch 15/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5447 - accuracy: 0.7342
Epoch 16/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5442 - accuracy: 0.7329
Epoch 17/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5434 - accuracy: 0.7346
Epoch 18/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5435 - accuracy: 0.7346
Epoch 19/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5429 - accuracy: 0.7348
Epoch 20/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5426 - accuracy: 0.7355
Epoch 21/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5425 - accuracy: 0.7347
Epoch 22/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5427 - accuracy: 0.7349
Epoch 23/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5417 - accuracy: 0.7358
Epoch 24/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5412 - accuracy: 0.7365
Epoch 25/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5411 - accuracy: 0.7364
Epoch 26/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5410 - accuracy: 0.7360
Epoch 27/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5408 - accuracy: 0.7355
Epoch 28/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5407 - accuracy: 0.7358
Epoch 29/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5407 - accuracy: 0.7356
Epoch 30/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5405 - accuracy: 0.7366
Epoch 31/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5401 - accuracy: 0.7367
Epoch 32/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5401 - accuracy: 0.7359
Epoch 33/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5399 - accuracy: 0.7364
Epoch 34/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5394 - accuracy: 0.7363
Epoch 35/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5395 - accuracy: 0.7372
Epoch 36/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5389 - accuracy: 0.7370
Epoch 37/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5389 - accuracy: 0.7379
Epoch 38/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5391 - accuracy: 0.7369
Epoch 39/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5390 - accuracy: 0.7372
Epoch 40/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5389 - accuracy: 0.7369
Epoch 41/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5389 - accuracy: 0.7381
Epoch 42/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5390 - accuracy: 0.7369
Epoch 43/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5382 - accuracy: 0.7365
Epoch 44/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5383 - accuracy: 0.7372
Epoch 45/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5378 - accuracy: 0.7388
Epoch 46/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5382 - accuracy: 0.7371
Epoch 47/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5380 - accuracy: 0.7384
Epoch 48/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5380 - accuracy: 0.7377
Epoch 49/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5380 - accuracy: 0.7372
Epoch 50/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5375 - accuracy: 0.7385
Epoch 51/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5376 - accuracy: 0.7376
Epoch 52/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5375 - accuracy: 0.7382
Epoch 53/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5374 - accuracy: 0.7383
Epoch 54/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5375 - accuracy: 0.7373
Epoch 55/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5372 - accuracy: 0.7377
Epoch 56/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5371 - accuracy: 0.7387
Epoch 57/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5370 - accuracy: 0.7395
Epoch 58/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5369 - accuracy: 0.7383
Epoch 59/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5369 - accuracy: 0.7377
Epoch 60/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5364 - accuracy: 0.7379
Epoch 61/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5367 - accuracy: 0.7385
Epoch 62/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5369 - accuracy: 0.7388
Epoch 63/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5369 - accuracy: 0.7381
Epoch 64/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5365 - accuracy: 0.7381
Epoch 65/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5362 - accuracy: 0.7389
Epoch 66/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5368 - accuracy: 0.7384
Epoch 67/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5362 - accuracy: 0.7390
Epoch 68/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5366 - accuracy: 0.7387
Epoch 69/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5362 - accuracy: 0.7389
Epoch 70/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5360 - accuracy: 0.7388
Epoch 71/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5360 - accuracy: 0.7389
Epoch 72/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5357 - accuracy: 0.7383
Epoch 73/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5359 - accuracy: 0.7385
Epoch 74/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5357 - accuracy: 0.7385
Epoch 75/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5358 - accuracy: 0.7391
Epoch 76/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5359 - accuracy: 0.7388
Epoch 77/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5356 - accuracy: 0.7385
Epoch 78/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5356 - accuracy: 0.7386
Epoch 79/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5358 - accuracy: 0.7385
Epoch 80/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5351 - accuracy: 0.7391
Epoch 81/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5355 - accuracy: 0.7383
Epoch 82/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5354 - accuracy: 0.7389
Epoch 83/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5357 - accuracy: 0.7383
Epoch 84/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5350 - accuracy: 0.7393
Epoch 85/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5350 - accuracy: 0.7393
Epoch 86/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5351 - accuracy: 0.7394
Epoch 87/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5352 - accuracy: 0.7394
Epoch 88/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5350 - accuracy: 0.7387
Epoch 89/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5349 - accuracy: 0.7392
Epoch 90/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5349 - accuracy: 0.7390
Epoch 91/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5349 - accuracy: 0.7386
Epoch 92/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5345 - accuracy: 0.7385
Epoch 93/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5349 - accuracy: 0.7392
Epoch 94/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5347 - accuracy: 0.7391
Epoch 95/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5344 - accuracy: 0.7395
Epoch 96/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5348 - accuracy: 0.7389
Epoch 97/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5345 - accuracy: 0.7387
Epoch 98/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5347 - accuracy: 0.7392
Epoch 99/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5346 - accuracy: 0.7397
Epoch 100/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5346 - accuracy: 0.7393

In [39]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(x_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5629 - accuracy: 0.7313 - 455ms/epoch - 2ms/step
Loss: 0.5629134774208069, Accuracy: 0.7313119769096375

In [40]:
# Export our model to HDF5 file
nn.save('alphabet_soup.h5')